body {
      margin: 0;
      padding: 0;
      font-family: Arial, sans-serif;
      background-color: #000000;
    }

model-viewer {
      width: 200px;
      height: 200px;
 
    }

#llantas-arriba, #llantas-medio, #llantas-abajo {

  display: flex;
  justify-content: space-around; 
  margin-bottom: 0%;            
}

#carroseria{
  width: 50%;

}

#carro{
  width: 50%;
}

#coche{
  width: 700px;
  height: 700px;
}

#contenedor-principal{
  display: flex;
  flex-direction: row;
}

.llanta-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #00ffcc;
  font-size: 16px;
  font-weight: bold;
}

.vel b {
  color: #ffee00;
}
